<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="taskModalLabel">Добавить задачу</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/task/add" method="POST">
                    <div class="row mb-3">
                        <label for="taskModalTitle" class="col-md-2 col-form-label">Название</label>
                        <div class="col-md-10">
                            <input name="title" type="text" class="form-control" id="taskModalTitle"
                                placeholder="Название" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="taskModalTrack" class="col-md-2 col-form-label">Трек</label>
                        <div class="col-md-10">
                            <input name="track" list="available-tracks" type="text" class="form-control" id="taskModalTrack"
                                placeholder="Трек">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="taskModalPriority" class="col-md-2 col-form-label">Приоритет</label>
                        <div class="col-md-10">
                            <select name="priority" class="form-select" id="taskModalPriority" required>
                                <option value="Middle">Средний</option>
                                <option value="Low">Низкий</option>
                                <option value="High">Высокий</option>
                            </select>
                        </div>
                    </div>
                    {{ macros::markdown(id=0) }}
                    {{ macros::task_assignee(assignee=false) }}
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <form class="w-100" action="/tasks/upload" method="POST" enctype="multipart/form-data">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <input class="form-control" type="file" name="csv" accept=".csv" required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Загрузить CSV</button>
                        </div>
                    </div>
                    <div class="form-text">
                        <sup>
                            <small class="text-muted">
                                Ожидаются столбцы <code>title</code> и опционально <code>description</code>
                            </small>
                        </sup>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
