<div class="modal fade" id="templateModal" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="templateModalLabel">Добавить шаблон</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/template/add" method="POST">
                    <div class="row mb-3">
                        <label for="templateModalValue" class="col-md-2 col-form-label">Значение</label>
                        <div class="col-md-10">
                            <input name="value" type="text" class="form-control" id="templateModalValue" value=""
                                placeholder="Значение" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <form class="w-100" action="/templates/upload" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="file" name="csv" accept=".csv" required>
                            <div class="w-100"><sup><small class="text-muted">"value"</small></sup></div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Из csv</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>