{% extends 'base.html' %}

{% block styles %}
<style>
    .add-task-container {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .add-task-container>button:hover {
        opacity: 0.5;
    }

    .add-task-container>button {
        opacity: 1.0;
    }

    .add-task-container>button:active {
        opacity: 1.0;
    }

    .add-task-container::before,
    .add-task-container::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
        margin: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
{% include 'components/navigation.html' %}

<div class="container bg-white border rounded my-2">

    <div class="row">
        <div class="col text-center add-task-container">
            <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#taskModal">
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
    </div>

    <div class="row d-none d-sm-flex fw-bold">
        <div class="col-sm-2 overflow-hidden">Идентификатор</div>
        <div class="col-sm overflow-hidden">Название</div>
        <div class="col-sm overflow-hidden">Описание</div>
        <div class="col-sm-2 overflow-hidden">Статус</div>
    </div>
    <div id="taskList">
        {% for task in tasks.items %}
        <div class="row my-1 py-1 border-top selectable" data-id="{{ task.id }}">
            <div class="col-sm-2">
                <strong>{{ task.id }}</strong>
            </div>
            <div class="col-sm">
                <span class="d-sm-none fw-bold">Название:</span>
                {{ task.title }}
            </div>
            <div class="col-sm">
                <span class="d-sm-none fw-bold">Описание:</span>
                {{ macros::task_description(description=task.description) }}
            </div>
            <div class="col-sm-2">
                <span class="d-sm-none fw-bold">Статус:</span>
                {{ macros::task_status(value=task.status) }}
            </div>
        </div>
        {% else %}
        <div class="alert alert-warning my-2" role="alert">
            Нет задач для отображения.
        </div>
        {% endfor %}
    </div>

    {{ macros::pagination(pages=tasks.pages) }}
</div>

{% include 'main/add_task_modal.html' %}

{% endblock %}


{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var selectableList = document.querySelectorAll(".selectable");
        selectableList.forEach((selectable) => {
            selectable.addEventListener("click", () => {
                const taskId = selectable.dataset.id;
                document.location.href = `/task/${taskId}`;
            });
        });
    });
</script>
{% endblock %}