<div class="row g-1" data-markdown-editor>
    <div class="col">
        <textarea autofocus class="form-control" rows="10" data-markdown-input required
            placeholder="Содержание">{{message | default(value='') | safe}}</textarea>
        <input type="hidden" name="message" required value="{{message | default(value='')}}"
            data-markdown-output>
    </div>
    <div class="col border rounded" data-markdown-preview>
        <div data-markdown-rendered></div>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <small class="text-muted">
            Сообщение в формате <a href="https://www.markdownguide.org/basic-syntax/">markdown</a>
        </small>
    </div>
    <div class="col">
        <small class="text-muted">Превью сообщения</small>
    </div>
</div>
